In [1]:
import pandas as pd
import numpy as np

In [2]:
PL_1 = pd.read_csv("../data/Premier_League_data/Squad_Standard_Stats.csv", skiprows=1)
PL_2 = pd.read_csv("../data/Premier_League_data/Squad_Standard_Stats(opponent stats).csv", skiprows=1)
PL_3 = pd.read_csv("../data/Premier_League_data/Squad_Goalkeeping_Stats.csv", skiprows=1)
PL_4 = pd.read_csv("../data/Premier_League_data/Squad_Goalkeeping_Stats(opponent stats).csv", skiprows=1)
PL_5 = pd.read_csv("../data/Premier_League_data/Squad_Advanced_Goalkeeping_Stats.csv", skiprows=1)
PL_6 = pd.read_csv("../data/Premier_League_data/Squad_Advanced_Goalkeeping_Stats(opponent stats).csv", skiprows=1)
PL_7 = pd.read_csv("../data/Premier_League_data/Squad_Shooting_Stats.csv", skiprows=1)
PL_8 = pd.read_csv("../data/Premier_League_data/Squad_Shooting_Stats(opponent stats).csv", skiprows=1)
PL_9 = pd.read_csv("../data/Premier_League_data/Squad_Passing_Stats.csv", skiprows=1)
PL_10 = pd.read_csv("../data/Premier_League_data/Squad_Passing_Stats(opponent stats).csv", skiprows=1)
PL_11 = pd.read_csv("../data/Premier_League_data/Squad_Pass_Types_Stats.csv", skiprows=1)
PL_12 = pd.read_csv("../data/Premier_League_data/Squad_Pass_Types_Stats(opponent stats).csv", skiprows=1)
PL_13 = pd.read_csv("../data/Premier_League_data/Squad_Goal_Shot_Creation_Stats.csv", skiprows=1)
PL_14 = pd.read_csv("../data/Premier_League_data/Squad_Goal_Shot_Creation_Stats(opponent stats).csv", skiprows=1)
PL_15 = pd.read_csv("../data/Premier_League_data/Squad_Defensive_Actions_Stats.csv", skiprows=1)
PL_16 = pd.read_csv("../data/Premier_League_data/Squad_Defensive_Actions_Stats(opponent stats).csv", skiprows=1)
PL_17 = pd.read_csv("../data/Premier_League_data/Squad_Possession_Stats.csv", skiprows=1)
PL_18 = pd.read_csv("../data/Premier_League_data/Squad_Possession_Stats(opponent stats).csv", skiprows=1)
PL_19 = pd.read_csv("../data/Premier_League_data/Squad_Playing_Time_Stats.csv", skiprows=1)
PL_20 = pd.read_csv("../data/Premier_League_data/Squad_Playing_Time_Stats(opponent stats).csv", skiprows=1)
PL_21 = pd.read_csv("../data/Premier_League_data/Squad_Miscellaneous_Stats.csv", skiprows=1)
PL_22 = pd.read_csv("../data/Premier_League_data/Squad_Miscellaneous_Stats(opponent stats).csv", skiprows=1)

In [3]:
PL_1.columns

Index(['Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG',
       'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1',
       'G+A-PK', 'xG.1', 'xAG.1', 'xG+xAG', 'npxG.1', 'npxG+xAG.1'],
      dtype='object')

In [4]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Age', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['PK', 'PKatt', 'CrdY', 'CrdR', 'PrgC', 'PrgP']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_1[new_col_name] = PL_1[col] / PL_1['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_1.loc[PL_1['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_1.drop(columns=drop_cols + divide_cols, inplace=True)

In [5]:
PL_1.head()

,Squad,Poss,MP,xG,npxG,xAG,npxG+xAG,Gls.1,Ast.1,G+A.1,...,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,PK_per_90,PKatt_per_90,CrdY_per_90,CrdR_per_90,PrgC_per_90,PrgP_per_90
0,Arsenal,56.9,38,59.9,58.4,45.3,103.6,1.76,1.45,3.21,...,1.19,2.77,1.54,2.73,0.052632,0.052632,1.842105,0.157895,22.421053,48.052632
1,Aston Villa,50.5,38,56.1,51.3,41.7,93.0,1.47,1.18,2.66,...,1.10,2.57,1.35,2.45,0.078947,0.157895,2.000000,0.105263,18.947368,35.368421
2,Bournemouth,48.5,38,64.0,58.5,43.8,102.3,1.50,1.08,2.58,...,1.15,2.84,1.54,2.69,0.157895,0.184211,2.552632,0.078947,19.842105,39.184211
3,Brentford,47.9,38,59.0,54.4,42.4,96.8,1.71,1.16,2.87,...,1.12,2.67,1.43,2.55,0.131579,0.157895,1.631579,0.026316,15.736842,35.684211
4,Brighton,52.3,38,58.7,53.3,40.4,93.7,1.68,1.08,2.76,...,1.06,2.61,1.40,2.47,0.184211,0.184211,2.052632,0.078947,21.473684,40.500000

In [6]:
PL_2.columns

Index(['Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG',
       'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1',
       'G+A-PK', 'xG.1', 'xAG.1', 'xG+xAG', 'npxG.1', 'npxG+xAG.1'],
      dtype='object')

In [7]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Age', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['PK', 'PKatt', 'CrdY', 'CrdR', 'PrgC', 'PrgP']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_2[new_col_name] = PL_2[col] / PL_2['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_2.loc[PL_2['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_2.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_2['Squad'] = PL_2['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_2.columns 
    if col != 'Squad'
}
PL_2.rename(columns=new_columns, inplace=True)

In [8]:
PL_2.head()

,Squad,Poss_against,MP_against,xG_against,npxG_against,xAG_against,npxG+xAG_against,Gls.1_against,Ast.1_against,G+A.1_against,...,xAG.1_against,xG+xAG_against,npxG.1_against,npxG+xAG.1_against,PK_per_90_against,PKatt_per_90_against,CrdY_per_90_against,CrdR_per_90_against,PrgC_per_90_against,PrgP_per_90_against
0,Arsenal,43.1,38,34.4,32.0,24.5,56.6,0.89,0.63,1.53,...,0.65,1.55,0.84,1.49,0.078947,0.078947,2.184211,0.052632,16.263158,24.684211
1,Aston Villa,49.5,38,50.1,47.8,36.4,84.2,1.34,0.95,2.29,...,0.96,2.28,1.26,2.22,0.052632,0.078947,2.736842,0.052632,18.105263,34.605263
2,Bournemouth,51.5,38,48.5,45.3,36.5,81.8,1.21,0.95,2.16,...,0.96,2.24,1.19,2.15,0.105263,0.105263,2.473684,0.131579,18.026316,34.078947
3,Brentford,52.1,38,55.4,54.7,43.3,97.9,1.42,1.11,2.53,...,1.14,2.60,1.44,2.58,0.026316,0.026316,2.157895,0.078947,21.973684,41.105263
4,Brighton,47.7,38,54.6,47.7,41.3,88.9,1.50,1.03,2.53,...,1.09,2.52,1.25,2.34,0.236842,0.236842,2.447368,0.131579,15.973684,31.815789

In [9]:
# Merge PL_1 and PL_2 on 'Squad'
PL_Squad_Standard_Stats_df = pd.merge(
    PL_1,          # Left DataFrame
    PL_2,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [10]:
PL_Squad_Standard_Stats_df.head()

,Squad,Poss,MP,xG,npxG,xAG,npxG+xAG,Gls.1,Ast.1,G+A.1,...,xAG.1_against,xG+xAG_against,npxG.1_against,npxG+xAG.1_against,PK_per_90_against,PKatt_per_90_against,CrdY_per_90_against,CrdR_per_90_against,PrgC_per_90_against,PrgP_per_90_against
0,Arsenal,56.9,38,59.9,58.4,45.3,103.6,1.76,1.45,3.21,...,0.65,1.55,0.84,1.49,0.078947,0.078947,2.184211,0.052632,16.263158,24.684211
1,Aston Villa,50.5,38,56.1,51.3,41.7,93.0,1.47,1.18,2.66,...,0.96,2.28,1.26,2.22,0.052632,0.078947,2.736842,0.052632,18.105263,34.605263
2,Bournemouth,48.5,38,64.0,58.5,43.8,102.3,1.50,1.08,2.58,...,0.96,2.24,1.19,2.15,0.105263,0.105263,2.473684,0.131579,18.026316,34.078947
3,Brentford,47.9,38,59.0,54.4,42.4,96.8,1.71,1.16,2.87,...,1.14,2.60,1.44,2.58,0.026316,0.026316,2.157895,0.078947,21.973684,41.105263
4,Brighton,52.3,38,58.7,53.3,40.4,93.7,1.68,1.08,2.76,...,1.09,2.52,1.25,2.34,0.236842,0.236842,2.447368,0.131579,15.973684,31.815789

In [11]:
PL_3.columns

Index(['Squad', '# Pl', 'MP', 'Starts', 'Min', '90s', 'GA', 'GA90', 'SoTA',
       'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'PKatt', 'PKA', 'PKsv',
       'PKm', 'Save%.1'],
      dtype='object')

In [12]:
PL_3.head()

,Squad,# Pl,MP,Starts,Min,90s,GA,GA90,SoTA,Saves,...,W,D,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%.1
0,Arsenal,1,38,38,3420,38.0,34,0.89,120,86,...,20,14,4,13,34.2,3,3,0,0,0.0
1,Aston Villa,2,38,38,3420,38.0,51,1.34,156,104,...,19,9,10,9,23.7,3,2,1,0,33.3
2,Bournemouth,3,38,38,3420,38.0,46,1.21,172,126,...,15,11,12,9,23.7,4,4,0,0,0.0
3,Brentford,2,38,38,3420,38.0,57,1.50,207,153,...,16,8,14,8,21.1,1,1,0,0,0.0
4,Brighton,2,38,38,3420,38.0,59,1.55,147,90,...,16,13,9,8,21.1,9,9,0,0,0.0

In [13]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Starts', 'Min', '90s', 'GA', 'CS']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['SoTA','Saves', 'W', 'D', 'L', 'PKatt', 'PKA', 'PKsv','PKm']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_3[new_col_name] = PL_3[col] / PL_3['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_3.loc[PL_3['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_3.drop(columns=drop_cols + divide_cols, inplace=True)

In [14]:
PL_3.head()

,Squad,MP,GA90,Save%,CS%,Save%.1,SoTA_per_90,Saves_per_90,W_per_90,D_per_90,L_per_90,PKatt_per_90,PKA_per_90,PKsv_per_90,PKm_per_90
0,Arsenal,38,0.89,74.2,34.2,0.0,3.157895,2.263158,0.526316,0.368421,0.105263,0.078947,0.078947,0.000000,0.0
1,Aston Villa,38,1.34,68.6,23.7,33.3,4.105263,2.736842,0.500000,0.236842,0.263158,0.078947,0.052632,0.026316,0.0
2,Bournemouth,38,1.21,75.6,23.7,0.0,4.526316,3.315789,0.394737,0.289474,0.315789,0.105263,0.105263,0.000000,0.0
3,Brentford,38,1.50,72.9,21.1,0.0,5.447368,4.026316,0.421053,0.210526,0.368421,0.026316,0.026316,0.000000,0.0
4,Brighton,38,1.55,66.0,21.1,0.0,3.868421,2.368421,0.421053,0.342105,0.236842,0.236842,0.236842,0.000000,0.0

In [15]:
PL_4.columns

Index(['Squad', '# Pl', 'MP', 'Starts', 'Min', '90s', 'GA', 'GA90', 'SoTA',
       'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'PKatt', 'PKA', 'PKsv',
       'PKm', 'Save%.1'],
      dtype='object')

In [16]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Starts', 'Min', '90s', 'GA', 'CS']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['SoTA','Saves', 'W', 'D', 'L', 'PKatt', 'PKA', 'PKsv','PKm']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_4[new_col_name] = PL_4[col] / PL_4['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_4.loc[PL_4['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_4.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_4['Squad'] = PL_4['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_4.columns 
    if col != 'Squad'
}
PL_4.rename(columns=new_columns, inplace=True)

In [17]:
PL_Squad_Goalkeeping_Stats_df = pd.merge(
    PL_3,          # Left DataFrame
    PL_4,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [18]:
PL_Squad_Goalkeeping_Stats_df.head()

,Squad,MP,GA90,Save%,CS%,Save%.1,SoTA_per_90,Saves_per_90,W_per_90,D_per_90,...,Save%.1_against,SoTA_per_90_against,Saves_per_90_against,W_per_90_against,D_per_90_against,L_per_90_against,PKatt_per_90_against,PKA_per_90_against,PKsv_per_90_against,PKm_per_90_against
0,Arsenal,38,0.89,74.2,34.2,0.0,3.157895,2.263158,0.526316,0.368421,...,0.0,4.736842,2.973684,0.105263,0.368421,0.526316,0.052632,0.052632,0.000000,0.0
1,Aston Villa,38,1.34,68.6,23.7,33.3,4.105263,2.736842,0.500000,0.236842,...,50.0,4.342105,2.789474,0.263158,0.236842,0.500000,0.157895,0.078947,0.078947,0.0
2,Bournemouth,38,1.21,75.6,23.7,0.0,4.526316,3.315789,0.394737,0.289474,...,14.3,5.236842,3.710526,0.315789,0.289474,0.394737,0.184211,0.157895,0.026316,0.0
3,Brentford,38,1.50,72.9,21.1,0.0,5.447368,4.026316,0.421053,0.210526,...,16.7,4.710526,2.973684,0.368421,0.210526,0.421053,0.157895,0.131579,0.026316,0.0
4,Brighton,38,1.55,66.0,21.1,0.0,3.868421,2.368421,0.421053,0.342105,...,0.0,5.000000,3.315789,0.236842,0.342105,0.421053,0.184211,0.184211,0.000000,0.0

In [19]:
PL_5.columns

Index(['Squad', '# Pl', '90s', 'GA', 'PKA', 'FK', 'CK', 'OG', 'PSxG',
       'PSxG/SoT', 'PSxG+/-', '/90', 'Cmp', 'Att', 'Cmp%', 'Att (GK)', 'Thr',
       'Launch%', 'AvgLen', 'Att.1', 'Launch%.1', 'AvgLen.1', 'Opp', 'Stp',
       'Stp%', '#OPA', '#OPA/90', 'AvgDist'],
      dtype='object')

In [20]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'GA', 'PKA', '#OPA']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['FK', 'CK', 'OG', 'Cmp', 'Att', 'Cmp%', 'Att (GK)', 'Thr', 'Att.1', 'Opp', 'Stp',]

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_5[new_col_name] = PL_5[col] / PL_5['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_5.loc[PL_5['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_5.drop(columns=drop_cols + divide_cols, inplace=True)

In [21]:
PL_5.head()

,Squad,90s,PSxG,PSxG/SoT,PSxG+/-,/90,Launch%,AvgLen,Launch%.1,AvgLen.1,...,CK_per_90,OG_per_90,Cmp_per_90,Att_per_90,Cmp%_per_90,Att (GK)_per_90,Thr_per_90,Att.1_per_90,Opp_per_90,Stp_per_90
0,Arsenal,38.0,35.1,0.28,1.1,0.03,31.2,29.9,50.0,38.6,...,0.210526,0.000000,3.921053,12.578947,0.821053,31.842105,4.684211,5.263158,10.578947,1.394737
1,Aston Villa,38.0,52.1,0.32,1.1,0.03,29.5,30.4,41.8,35.1,...,0.052632,0.000000,4.763158,12.473684,1.005263,31.105263,3.500000,7.868421,14.157895,1.552632
2,Bournemouth,38.0,54.8,0.30,8.8,0.23,35.2,32.9,47.7,39.4,...,0.131579,0.000000,4.578947,12.236842,0.984211,25.263158,4.157895,7.000000,12.105263,0.657895
3,Brentford,38.0,53.3,0.26,-0.7,-0.02,36.3,34.4,51.7,41.3,...,0.052632,0.078947,6.947368,18.342105,0.997368,38.236842,3.394737,8.605263,15.710526,1.263158
4,Brighton,38.0,51.5,0.30,-5.5,-0.15,29.3,25.1,23.5,23.1,...,0.105263,0.052632,3.394737,10.578947,0.844737,31.000000,3.394737,6.394737,11.473684,0.763158

In [22]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'GA', 'PKA', '#OPA']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['FK', 'CK', 'OG', 'Cmp', 'Att', 'Cmp%', 'Att (GK)', 'Thr', 'Att.1', 'Opp', 'Stp',]

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_6[new_col_name] = PL_6[col] / PL_6['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_6.loc[PL_6['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_6.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_6['Squad'] = PL_6['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_6.columns 
    if col != 'Squad'
}
PL_6.rename(columns=new_columns, inplace=True)

In [23]:
PL_Squad_Advanced_Goalkeeping_Stats_df = pd.merge(
    PL_5,          # Left DataFrame
    PL_6,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [24]:
PL_Squad_Advanced_Goalkeeping_Stats_df.head()

,Squad,90s,PSxG,PSxG/SoT,PSxG+/-,/90,Launch%,AvgLen,Launch%.1,AvgLen.1,...,CK_per_90_against,OG_per_90_against,Cmp_per_90_against,Att_per_90_against,Cmp%_per_90_against,Att (GK)_per_90_against,Thr_per_90_against,Att.1_per_90_against,Opp_per_90_against,Stp_per_90_against
0,Arsenal,38.0,35.1,0.28,1.1,0.03,31.2,29.9,50.0,38.6,...,0.315789,0.052632,5.657895,17.394737,0.855263,29.552632,3.052632,8.131579,15.842105,0.868421
1,Aston Villa,38.0,52.1,0.32,1.1,0.03,29.5,30.4,41.8,35.1,...,0.236842,0.052632,3.921053,10.000000,1.031579,23.210526,4.394737,6.894737,12.157895,1.052632
2,Bournemouth,38.0,54.8,0.30,8.8,0.23,35.2,32.9,47.7,39.4,...,0.131579,0.026316,6.368421,17.710526,0.947368,32.447368,4.078947,9.026316,16.763158,1.236842
3,Brentford,38.0,53.3,0.26,-0.7,-0.02,36.3,34.4,51.7,41.3,...,0.131579,0.026316,4.921053,15.342105,0.844737,30.526316,4.842105,6.631579,14.052632,1.157895
4,Brighton,38.0,51.5,0.30,-5.5,-0.15,29.3,25.1,23.5,23.1,...,0.157895,0.052632,5.368421,16.289474,0.868421,36.000000,4.921053,7.842105,14.236842,0.763158

In [25]:
PL_7.columns

Index(['Squad', '# Pl', '90s', 'Gls', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90',
       'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh',
       'G-xG', 'np:G-xG'],
      dtype='object')

In [26]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Sh', 'SoT', 'FK', 'PK', 'PKatt', 'xG', 'npxG']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Gls']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_7[new_col_name] = PL_7[col] / PL_7['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_7.loc[PL_7['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_7.drop(columns=drop_cols + divide_cols, inplace=True)

In [27]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Sh', 'SoT', 'FK', 'PK', 'PKatt', 'xG', 'npxG']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Gls']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_8[new_col_name] = PL_8[col] / PL_8['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_8.loc[PL_8['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_8.drop(columns=drop_cols + divide_cols, inplace=True)
# Remove "vs " prefix from 'Squad' column
PL_8['Squad'] = PL_8['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_8.columns 
    if col != 'Squad'
}
PL_8.rename(columns=new_columns, inplace=True)

In [28]:
PL_Squad_Shooting_Stats_df = pd.merge(
    PL_7,          # Left DataFrame
    PL_8,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [29]:
PL_Squad_Shooting_Stats_df.head()

,Squad,90s,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,npxG/Sh,G-xG,...,SoT%_against,Sh/90_against,SoT/90_against,G/Sh_against,G/SoT_against,Dist_against,npxG/Sh_against,G-xG_against,np:G-xG_against,Gls_per_90_against
0,Arsenal,38.0,32.7,14.32,4.68,0.12,0.37,15.1,0.11,7.1,...,32.6,9.45,3.08,0.09,0.26,17.8,0.09,-0.4,-1.0,0.894737
1,Aston Villa,38.0,33.3,12.58,4.18,0.11,0.33,16.3,0.11,-0.1,...,33.3,12.11,4.03,0.11,0.32,16.7,0.11,0.9,1.2,1.342105
2,Bournemouth,38.0,33.4,15.11,5.05,0.09,0.27,16.7,0.10,-7.0,...,34.8,12.71,4.42,0.09,0.25,17.1,0.10,-2.5,-3.3,1.210526
3,Brentford,38.0,39.9,11.42,4.55,0.14,0.35,14.9,0.13,6.0,...,31.9,17.00,5.42,0.08,0.26,17.5,0.09,-1.4,-1.7,1.421053
4,Brighton,38.0,34.8,13.84,4.82,0.11,0.31,17.2,0.10,5.3,...,33.0,11.00,3.63,0.11,0.35,15.6,0.12,2.4,0.3,1.500000