In [1]:
import pandas as pd
import numpy as np

In [2]:
PL_1 = pd.read_csv("../data/Premier_League_data/Squad_Standard_Stats.csv", skiprows=1)
PL_2 = pd.read_csv("../data/Premier_League_data/Squad_Standard_Stats(opponent stats).csv", skiprows=1)
PL_3 = pd.read_csv("../data/Premier_League_data/Squad_Goalkeeping_Stats.csv", skiprows=1)
PL_4 = pd.read_csv("../data/Premier_League_data/Squad_Goalkeeping_Stats(opponent stats).csv", skiprows=1)
PL_5 = pd.read_csv("../data/Premier_League_data/Squad_Advanced_Goalkeeping_Stats.csv", skiprows=1)
PL_6 = pd.read_csv("../data/Premier_League_data/Squad_Advanced_Goalkeeping_Stats(opponent stats).csv", skiprows=1)
PL_7 = pd.read_csv("../data/Premier_League_data/Squad_Shooting_Stats.csv", skiprows=1)
PL_8 = pd.read_csv("../data/Premier_League_data/Squad_Shooting_Stats(opponent stats).csv", skiprows=1)
PL_9 = pd.read_csv("../data/Premier_League_data/Squad_Passing_Stats.csv", skiprows=1)
PL_10 = pd.read_csv("../data/Premier_League_data/Squad_Passing_Stats(opponent stats).csv", skiprows=1)
PL_11 = pd.read_csv("../data/Premier_League_data/Squad_Pass_Types_Stats.csv", skiprows=1)
PL_12 = pd.read_csv("../data/Premier_League_data/Squad_Pass_Types_Stats(opponent stats).csv", skiprows=1)
PL_13 = pd.read_csv("../data/Premier_League_data/Squad_Goal_Shot_Creation_Stats.csv", skiprows=1)
PL_14 = pd.read_csv("../data/Premier_League_data/Squad_Goal_Shot_Creation_Stats(opponent stats).csv", skiprows=1)
PL_15 = pd.read_csv("../data/Premier_League_data/Squad_Defensive_Actions_Stats.csv", skiprows=1)
PL_16 = pd.read_csv("../data/Premier_League_data/Squad_Defensive_Actions_Stats(opponent stats).csv", skiprows=1)
PL_17 = pd.read_csv("../data/Premier_League_data/Squad_Possession_Stats.csv", skiprows=1)
PL_18 = pd.read_csv("../data/Premier_League_data/Squad_Possession_Stats(opponent stats).csv", skiprows=1)
PL_19 = pd.read_csv("../data/Premier_League_data/Squad_Playing_Time_Stats.csv", skiprows=1)
PL_20 = pd.read_csv("../data/Premier_League_data/Squad_Playing_Time_Stats(opponent stats).csv", skiprows=1)
PL_21 = pd.read_csv("../data/Premier_League_data/Squad_Miscellaneous_Stats.csv", skiprows=1)
PL_22 = pd.read_csv("../data/Premier_League_data/Squad_Miscellaneous_Stats(opponent stats).csv", skiprows=1)

In [3]:
PL_1.columns

Index(['Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG',
       'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1',
       'G+A-PK', 'xG.1', 'xAG.1', 'xG+xAG', 'npxG.1', 'npxG+xAG.1'],
      dtype='object')

In [4]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Age', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['PK', 'PKatt', 'CrdY', 'CrdR', 'PrgC', 'PrgP']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_1[new_col_name] = PL_1[col] / PL_1['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_1.loc[PL_1['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_1.drop(columns=drop_cols + divide_cols, inplace=True)

In [5]:
PL_1.head()

,Squad,Poss,MP,xG,npxG,xAG,npxG+xAG,Gls.1,Ast.1,G+A.1,...,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,PK_per_90,PKatt_per_90,CrdY_per_90,CrdR_per_90,PrgC_per_90,PrgP_per_90
0,Arsenal,56.9,38,59.9,58.4,45.3,103.6,1.76,1.45,3.21,...,1.19,2.77,1.54,2.73,0.052632,0.052632,1.842105,0.157895,22.421053,48.052632
1,Aston Villa,50.5,38,56.1,51.3,41.7,93.0,1.47,1.18,2.66,...,1.10,2.57,1.35,2.45,0.078947,0.157895,2.000000,0.105263,18.947368,35.368421
2,Bournemouth,48.5,38,64.0,58.5,43.8,102.3,1.50,1.08,2.58,...,1.15,2.84,1.54,2.69,0.157895,0.184211,2.552632,0.078947,19.842105,39.184211
3,Brentford,47.9,38,59.0,54.4,42.4,96.8,1.71,1.16,2.87,...,1.12,2.67,1.43,2.55,0.131579,0.157895,1.631579,0.026316,15.736842,35.684211
4,Brighton,52.3,38,58.7,53.3,40.4,93.7,1.68,1.08,2.76,...,1.06,2.61,1.40,2.47,0.184211,0.184211,2.052632,0.078947,21.473684,40.500000

In [6]:
PL_2.columns

Index(['Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG', 'npxG',
       'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls.1', 'Ast.1', 'G+A.1', 'G-PK.1',
       'G+A-PK', 'xG.1', 'xAG.1', 'xG+xAG', 'npxG.1', 'npxG+xAG.1'],
      dtype='object')

In [7]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Age', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['PK', 'PKatt', 'CrdY', 'CrdR', 'PrgC', 'PrgP']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_2[new_col_name] = PL_2[col] / PL_2['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_2.loc[PL_2['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_2.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_2['Squad'] = PL_2['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_2.columns 
    if col != 'Squad'
}
PL_2.rename(columns=new_columns, inplace=True)

In [8]:
PL_2.head()

,Squad,Poss_against,MP_against,xG_against,npxG_against,xAG_against,npxG+xAG_against,Gls.1_against,Ast.1_against,G+A.1_against,...,xAG.1_against,xG+xAG_against,npxG.1_against,npxG+xAG.1_against,PK_per_90_against,PKatt_per_90_against,CrdY_per_90_against,CrdR_per_90_against,PrgC_per_90_against,PrgP_per_90_against
0,Arsenal,43.1,38,34.4,32.0,24.5,56.6,0.89,0.63,1.53,...,0.65,1.55,0.84,1.49,0.078947,0.078947,2.184211,0.052632,16.263158,24.684211
1,Aston Villa,49.5,38,50.1,47.8,36.4,84.2,1.34,0.95,2.29,...,0.96,2.28,1.26,2.22,0.052632,0.078947,2.736842,0.052632,18.105263,34.605263
2,Bournemouth,51.5,38,48.5,45.3,36.5,81.8,1.21,0.95,2.16,...,0.96,2.24,1.19,2.15,0.105263,0.105263,2.473684,0.131579,18.026316,34.078947
3,Brentford,52.1,38,55.4,54.7,43.3,97.9,1.42,1.11,2.53,...,1.14,2.60,1.44,2.58,0.026316,0.026316,2.157895,0.078947,21.973684,41.105263
4,Brighton,47.7,38,54.6,47.7,41.3,88.9,1.50,1.03,2.53,...,1.09,2.52,1.25,2.34,0.236842,0.236842,2.447368,0.131579,15.973684,31.815789

In [9]:
# Merge PL_1 and PL_2 on 'Squad'
PL_Squad_Standard_Stats_df = pd.merge(
    PL_1,          # Left DataFrame
    PL_2,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [10]:
PL_Squad_Standard_Stats_df.head()

,Squad,Poss,MP,xG,npxG,xAG,npxG+xAG,Gls.1,Ast.1,G+A.1,...,xAG.1_against,xG+xAG_against,npxG.1_against,npxG+xAG.1_against,PK_per_90_against,PKatt_per_90_against,CrdY_per_90_against,CrdR_per_90_against,PrgC_per_90_against,PrgP_per_90_against
0,Arsenal,56.9,38,59.9,58.4,45.3,103.6,1.76,1.45,3.21,...,0.65,1.55,0.84,1.49,0.078947,0.078947,2.184211,0.052632,16.263158,24.684211
1,Aston Villa,50.5,38,56.1,51.3,41.7,93.0,1.47,1.18,2.66,...,0.96,2.28,1.26,2.22,0.052632,0.078947,2.736842,0.052632,18.105263,34.605263
2,Bournemouth,48.5,38,64.0,58.5,43.8,102.3,1.50,1.08,2.58,...,0.96,2.24,1.19,2.15,0.105263,0.105263,2.473684,0.131579,18.026316,34.078947
3,Brentford,47.9,38,59.0,54.4,42.4,96.8,1.71,1.16,2.87,...,1.14,2.60,1.44,2.58,0.026316,0.026316,2.157895,0.078947,21.973684,41.105263
4,Brighton,52.3,38,58.7,53.3,40.4,93.7,1.68,1.08,2.76,...,1.09,2.52,1.25,2.34,0.236842,0.236842,2.447368,0.131579,15.973684,31.815789

In [11]:
PL_3.columns

Index(['Squad', '# Pl', 'MP', 'Starts', 'Min', '90s', 'GA', 'GA90', 'SoTA',
       'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'PKatt', 'PKA', 'PKsv',
       'PKm', 'Save%.1'],
      dtype='object')

In [12]:
PL_3.head()

,Squad,# Pl,MP,Starts,Min,90s,GA,GA90,SoTA,Saves,...,W,D,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%.1
0,Arsenal,1,38,38,3420,38.0,34,0.89,120,86,...,20,14,4,13,34.2,3,3,0,0,0.0
1,Aston Villa,2,38,38,3420,38.0,51,1.34,156,104,...,19,9,10,9,23.7,3,2,1,0,33.3
2,Bournemouth,3,38,38,3420,38.0,46,1.21,172,126,...,15,11,12,9,23.7,4,4,0,0,0.0
3,Brentford,2,38,38,3420,38.0,57,1.50,207,153,...,16,8,14,8,21.1,1,1,0,0,0.0
4,Brighton,2,38,38,3420,38.0,59,1.55,147,90,...,16,13,9,8,21.1,9,9,0,0,0.0

In [13]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Starts', 'Min', '90s', 'GA', 'CS']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['SoTA','Saves', 'W', 'D', 'L', 'PKatt', 'PKA', 'PKsv','PKm']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_3[new_col_name] = PL_3[col] / PL_3['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_3.loc[PL_3['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_3.drop(columns=drop_cols + divide_cols, inplace=True)

In [14]:
PL_3.head()

,Squad,MP,GA90,Save%,CS%,Save%.1,SoTA_per_90,Saves_per_90,W_per_90,D_per_90,L_per_90,PKatt_per_90,PKA_per_90,PKsv_per_90,PKm_per_90
0,Arsenal,38,0.89,74.2,34.2,0.0,3.157895,2.263158,0.526316,0.368421,0.105263,0.078947,0.078947,0.000000,0.0
1,Aston Villa,38,1.34,68.6,23.7,33.3,4.105263,2.736842,0.500000,0.236842,0.263158,0.078947,0.052632,0.026316,0.0
2,Bournemouth,38,1.21,75.6,23.7,0.0,4.526316,3.315789,0.394737,0.289474,0.315789,0.105263,0.105263,0.000000,0.0
3,Brentford,38,1.50,72.9,21.1,0.0,5.447368,4.026316,0.421053,0.210526,0.368421,0.026316,0.026316,0.000000,0.0
4,Brighton,38,1.55,66.0,21.1,0.0,3.868421,2.368421,0.421053,0.342105,0.236842,0.236842,0.236842,0.000000,0.0

In [15]:
PL_4.columns

Index(['Squad', '# Pl', 'MP', 'Starts', 'Min', '90s', 'GA', 'GA90', 'SoTA',
       'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'PKatt', 'PKA', 'PKsv',
       'PKm', 'Save%.1'],
      dtype='object')

In [16]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Starts', 'Min', '90s', 'GA', 'CS']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['SoTA','Saves', 'W', 'D', 'L', 'PKatt', 'PKA', 'PKsv','PKm']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_4[new_col_name] = PL_4[col] / PL_4['MP']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_4.loc[PL_4['MP'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_4.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_4['Squad'] = PL_4['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_4.columns 
    if col != 'Squad'
}
PL_4.rename(columns=new_columns, inplace=True)

In [17]:
PL_Squad_Goalkeeping_Stats_df = pd.merge(
    PL_3,          # Left DataFrame
    PL_4,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [18]:
PL_Squad_Goalkeeping_Stats_df.head()

,Squad,MP,GA90,Save%,CS%,Save%.1,SoTA_per_90,Saves_per_90,W_per_90,D_per_90,...,Save%.1_against,SoTA_per_90_against,Saves_per_90_against,W_per_90_against,D_per_90_against,L_per_90_against,PKatt_per_90_against,PKA_per_90_against,PKsv_per_90_against,PKm_per_90_against
0,Arsenal,38,0.89,74.2,34.2,0.0,3.157895,2.263158,0.526316,0.368421,...,0.0,4.736842,2.973684,0.105263,0.368421,0.526316,0.052632,0.052632,0.000000,0.0
1,Aston Villa,38,1.34,68.6,23.7,33.3,4.105263,2.736842,0.500000,0.236842,...,50.0,4.342105,2.789474,0.263158,0.236842,0.500000,0.157895,0.078947,0.078947,0.0
2,Bournemouth,38,1.21,75.6,23.7,0.0,4.526316,3.315789,0.394737,0.289474,...,14.3,5.236842,3.710526,0.315789,0.289474,0.394737,0.184211,0.157895,0.026316,0.0
3,Brentford,38,1.50,72.9,21.1,0.0,5.447368,4.026316,0.421053,0.210526,...,16.7,4.710526,2.973684,0.368421,0.210526,0.421053,0.157895,0.131579,0.026316,0.0
4,Brighton,38,1.55,66.0,21.1,0.0,3.868421,2.368421,0.421053,0.342105,...,0.0,5.000000,3.315789,0.236842,0.342105,0.421053,0.184211,0.184211,0.000000,0.0

In [19]:
PL_5.columns

Index(['Squad', '# Pl', '90s', 'GA', 'PKA', 'FK', 'CK', 'OG', 'PSxG',
       'PSxG/SoT', 'PSxG+/-', '/90', 'Cmp', 'Att', 'Cmp%', 'Att (GK)', 'Thr',
       'Launch%', 'AvgLen', 'Att.1', 'Launch%.1', 'AvgLen.1', 'Opp', 'Stp',
       'Stp%', '#OPA', '#OPA/90', 'AvgDist'],
      dtype='object')

In [20]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'GA', 'PKA', '#OPA']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['FK', 'CK', 'OG', 'Cmp', 'Att', 'Cmp%', 'Att (GK)', 'Thr', 'Att.1', 'Opp', 'Stp',]

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_5[new_col_name] = PL_5[col] / PL_5['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_5.loc[PL_5['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_5.drop(columns=drop_cols + divide_cols, inplace=True)

In [21]:
PL_5.head()

,Squad,90s,PSxG,PSxG/SoT,PSxG+/-,/90,Launch%,AvgLen,Launch%.1,AvgLen.1,...,CK_per_90,OG_per_90,Cmp_per_90,Att_per_90,Cmp%_per_90,Att (GK)_per_90,Thr_per_90,Att.1_per_90,Opp_per_90,Stp_per_90
0,Arsenal,38.0,35.1,0.28,1.1,0.03,31.2,29.9,50.0,38.6,...,0.210526,0.000000,3.921053,12.578947,0.821053,31.842105,4.684211,5.263158,10.578947,1.394737
1,Aston Villa,38.0,52.1,0.32,1.1,0.03,29.5,30.4,41.8,35.1,...,0.052632,0.000000,4.763158,12.473684,1.005263,31.105263,3.500000,7.868421,14.157895,1.552632
2,Bournemouth,38.0,54.8,0.30,8.8,0.23,35.2,32.9,47.7,39.4,...,0.131579,0.000000,4.578947,12.236842,0.984211,25.263158,4.157895,7.000000,12.105263,0.657895
3,Brentford,38.0,53.3,0.26,-0.7,-0.02,36.3,34.4,51.7,41.3,...,0.052632,0.078947,6.947368,18.342105,0.997368,38.236842,3.394737,8.605263,15.710526,1.263158
4,Brighton,38.0,51.5,0.30,-5.5,-0.15,29.3,25.1,23.5,23.1,...,0.105263,0.052632,3.394737,10.578947,0.844737,31.000000,3.394737,6.394737,11.473684,0.763158

In [22]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'GA', 'PKA', '#OPA']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['FK', 'CK', 'OG', 'Cmp', 'Att', 'Cmp%', 'Att (GK)', 'Thr', 'Att.1', 'Opp', 'Stp',]

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_6[new_col_name] = PL_6[col] / PL_6['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_6.loc[PL_6['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_6.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_6['Squad'] = PL_6['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_6.columns 
    if col != 'Squad'
}
PL_6.rename(columns=new_columns, inplace=True)

In [23]:
PL_Squad_Advanced_Goalkeeping_Stats_df = pd.merge(
    PL_5,          # Left DataFrame
    PL_6,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [24]:
PL_Squad_Advanced_Goalkeeping_Stats_df.head()

,Squad,90s,PSxG,PSxG/SoT,PSxG+/-,/90,Launch%,AvgLen,Launch%.1,AvgLen.1,...,CK_per_90_against,OG_per_90_against,Cmp_per_90_against,Att_per_90_against,Cmp%_per_90_against,Att (GK)_per_90_against,Thr_per_90_against,Att.1_per_90_against,Opp_per_90_against,Stp_per_90_against
0,Arsenal,38.0,35.1,0.28,1.1,0.03,31.2,29.9,50.0,38.6,...,0.315789,0.052632,5.657895,17.394737,0.855263,29.552632,3.052632,8.131579,15.842105,0.868421
1,Aston Villa,38.0,52.1,0.32,1.1,0.03,29.5,30.4,41.8,35.1,...,0.236842,0.052632,3.921053,10.000000,1.031579,23.210526,4.394737,6.894737,12.157895,1.052632
2,Bournemouth,38.0,54.8,0.30,8.8,0.23,35.2,32.9,47.7,39.4,...,0.131579,0.026316,6.368421,17.710526,0.947368,32.447368,4.078947,9.026316,16.763158,1.236842
3,Brentford,38.0,53.3,0.26,-0.7,-0.02,36.3,34.4,51.7,41.3,...,0.131579,0.026316,4.921053,15.342105,0.844737,30.526316,4.842105,6.631579,14.052632,1.157895
4,Brighton,38.0,51.5,0.30,-5.5,-0.15,29.3,25.1,23.5,23.1,...,0.157895,0.052632,5.368421,16.289474,0.868421,36.000000,4.921053,7.842105,14.236842,0.763158

In [25]:
PL_7.columns

Index(['Squad', '# Pl', '90s', 'Gls', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90',
       'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh',
       'G-xG', 'np:G-xG'],
      dtype='object')

In [26]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Sh', 'SoT', 'FK', 'PK', 'PKatt', 'xG', 'npxG']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Gls']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_7[new_col_name] = PL_7[col] / PL_7['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_7.loc[PL_7['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_7.drop(columns=drop_cols + divide_cols, inplace=True)

In [27]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Sh', 'SoT', 'FK', 'PK', 'PKatt', 'xG', 'npxG']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Gls']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_8[new_col_name] = PL_8[col] / PL_8['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_8.loc[PL_8['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_8.drop(columns=drop_cols + divide_cols, inplace=True)
# Remove "vs " prefix from 'Squad' column
PL_8['Squad'] = PL_8['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_8.columns 
    if col != 'Squad'
}
PL_8.rename(columns=new_columns, inplace=True)

In [28]:
PL_Squad_Shooting_Stats_df = pd.merge(
    PL_7,          # Left DataFrame
    PL_8,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [29]:
PL_Squad_Shooting_Stats_df.head()

,Squad,90s,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,npxG/Sh,G-xG,...,SoT%_against,Sh/90_against,SoT/90_against,G/Sh_against,G/SoT_against,Dist_against,npxG/Sh_against,G-xG_against,np:G-xG_against,Gls_per_90_against
0,Arsenal,38.0,32.7,14.32,4.68,0.12,0.37,15.1,0.11,7.1,...,32.6,9.45,3.08,0.09,0.26,17.8,0.09,-0.4,-1.0,0.894737
1,Aston Villa,38.0,33.3,12.58,4.18,0.11,0.33,16.3,0.11,-0.1,...,33.3,12.11,4.03,0.11,0.32,16.7,0.11,0.9,1.2,1.342105
2,Bournemouth,38.0,33.4,15.11,5.05,0.09,0.27,16.7,0.10,-7.0,...,34.8,12.71,4.42,0.09,0.25,17.1,0.10,-2.5,-3.3,1.210526
3,Brentford,38.0,39.9,11.42,4.55,0.14,0.35,14.9,0.13,6.0,...,31.9,17.00,5.42,0.08,0.26,17.5,0.09,-1.4,-1.7,1.421053
4,Brighton,38.0,34.8,13.84,4.82,0.11,0.31,17.2,0.10,5.3,...,33.0,11.00,3.63,0.11,0.35,15.6,0.12,2.4,0.3,1.500000

In [30]:
PL_9.columns

Index(['Squad', '# Pl', '90s', 'Cmp', 'Att', 'Cmp%', 'TotDist', 'PrgDist',
       'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3',
       'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3', 'PPA',
       'CrsPA', 'PrgP'],
      dtype='object')

In [31]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Cmp', 'Att', 'Cmp%',
       'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3',
       'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'PrgP']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['TotDist', 'PrgDist', 'KP', '1/3', 'PPA', 'CrsPA']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_9[new_col_name] = PL_9[col] / PL_9['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_9.loc[PL_9['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_9.drop(columns=drop_cols + divide_cols, inplace=True)

In [32]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Cmp', 'Att', 'Cmp%',
       'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3',
       'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'PrgP']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['TotDist', 'PrgDist', 'KP', '1/3', 'PPA', 'CrsPA']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_10[new_col_name] = PL_10[col] / PL_10['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_10.loc[PL_10['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_10.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_10['Squad'] = PL_10['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_10.columns 
    if col != 'Squad'
}
PL_10.rename(columns=new_columns, inplace=True)

In [33]:
PL_Squad_Passing_Stats_df = pd.merge(
    PL_9,          # Left DataFrame
    PL_10,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [34]:
PL_Squad_Passing_Stats_df.head()

,Squad,90s,TotDist_per_90,PrgDist_per_90,KP_per_90,1/3_per_90,PPA_per_90,CrsPA_per_90,90s_against,TotDist_per_90_against,PrgDist_per_90_against,KP_per_90_against,1/3_per_90_against,PPA_per_90_against,CrsPA_per_90_against
0,Arsenal,38.0,7337.052632,2290.921053,11.263158,36.763158,11.500000,1.973684,38.0,5647.236842,1936.657895,6.921053,23.815789,5.184211,1.578947
1,Aston Villa,38.0,6648.342105,2320.578947,9.421053,29.921053,8.394737,1.473684,38.0,6555.447368,2210.315789,8.842105,31.289474,7.763158,2.131579
2,Bournemouth,38.0,6156.710526,2283.342105,11.500000,32.684211,8.921053,2.789474,38.0,6304.263158,2489.947368,9.710526,26.631579,8.789474,1.736842
3,Brentford,38.0,6461.552632,2454.289474,8.684211,29.052632,8.552632,2.394737,38.0,6722.947368,2358.026316,13.184211,33.657895,11.315789,2.421053
4,Brighton,38.0,7076.736842,2394.315789,9.921053,31.289474,8.921053,2.289474,38.0,6668.473684,2311.947368,8.763158,26.421053,6.526316,1.157895

In [35]:
PL_11.columns

Index(['Squad', '# Pl', '90s', 'Att', 'Live', 'Dead', 'FK', 'TB', 'Sw', 'Crs',
       'TI', 'CK', 'In', 'Out', 'Str', 'Cmp', 'Off', 'Blocks'],
      dtype='object')

In [36]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Att']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Live', 'Dead', 'FK', 'TB', 'Sw', 'Crs',
       'TI', 'CK', 'In', 'Out', 'Str', 'Cmp', 'Off', 'Blocks']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_11[new_col_name] = PL_11[col] / PL_11['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_11.loc[PL_11['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_11.drop(columns=drop_cols + divide_cols, inplace=True)

In [37]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Att']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Live', 'Dead', 'FK', 'TB', 'Sw', 'Crs',
       'TI', 'CK', 'In', 'Out', 'Str', 'Cmp', 'Off', 'Blocks']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_12[new_col_name] = PL_12[col] / PL_12['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_12.loc[PL_12['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_12.drop(columns=drop_cols + divide_cols, inplace=True)
# Remove "vs " prefix from 'Squad' column
PL_12['Squad'] = PL_12['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_12.columns 
    if col != 'Squad'
}
PL_12.rename(columns=new_columns, inplace=True)

In [38]:
PL_Squad_Pass_Types_Stats_df = pd.merge(
    PL_11,          # Left DataFrame
    PL_12,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [39]:
PL_Squad_Pass_Types_Stats_df.head()

,Squad,90s,Live_per_90,Dead_per_90,FK_per_90,TB_per_90,Sw_per_90,Crs_per_90,TI_per_90,CK_per_90,...,Sw_per_90_against,Crs_per_90_against,TI_per_90_against,CK_per_90_against,In_per_90_against,Out_per_90_against,Str_per_90_against,Cmp_per_90_against,Off_per_90_against,Blocks_per_90_against
0,Arsenal,38.0,489.684211,40.868421,11.368421,2.105263,1.947368,20.157895,15.736842,6.605263,...,1.947368,14.052632,13.842105,3.105263,1.842105,0.657895,0.052632,320.842105,1.000000,6.605263
1,Aston Villa,38.0,422.210526,44.684211,15.342105,2.500000,1.526316,15.894737,13.078947,6.052632,...,2.526316,17.973684,12.473684,4.526316,2.947368,0.789474,0.131579,379.947368,2.447368,7.263158
2,Bournemouth,38.0,398.315789,44.578947,11.315789,1.552632,2.052632,21.894737,18.052632,6.000000,...,1.552632,15.815789,21.052632,4.842105,2.710526,1.157895,0.105263,370.315789,1.105263,9.789474
3,Brentford,38.0,406.657895,41.684211,10.157895,1.815789,1.868421,17.736842,15.842105,4.578947,...,1.947368,20.868421,16.184211,6.368421,3.447368,1.605263,0.105263,395.973684,1.526316,8.710526
4,Brighton,38.0,461.236842,42.500000,12.684211,2.026316,2.000000,18.526316,15.921053,4.947368,...,2.157895,14.289474,16.684211,4.789474,3.421053,0.605263,0.105263,374.736842,2.315789,8.789474

In [40]:
PL_13.columns

Index(['Squad', '# Pl', '90s', 'SCA', 'SCA90', 'PassLive', 'PassDead', 'TO',
       'Sh', 'Fld', 'Def', 'GCA', 'GCA90', 'PassLive.1', 'PassDead.1', 'TO.1',
       'Sh.1', 'Fld.1', 'Def.1'],
      dtype='object')

In [41]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'SCA', 'GCA']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['PassLive', 'PassDead', 'TO','Sh', 'Fld', 'Def', 'PassLive.1', 'PassDead.1', 'TO.1',
       'Sh.1', 'Fld.1', 'Def.1']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_13[new_col_name] = PL_13[col] / PL_13['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_13.loc[PL_13['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_13.drop(columns=drop_cols + divide_cols, inplace=True)

In [42]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'SCA', 'GCA']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['PassLive', 'PassDead', 'TO','Sh', 'Fld', 'Def', 'PassLive.1', 'PassDead.1', 'TO.1',
       'Sh.1', 'Fld.1', 'Def.1']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_14[new_col_name] = PL_14[col] / PL_14['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_14.loc[PL_14['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_14.drop(columns=drop_cols + divide_cols, inplace=True)
# Remove "vs " prefix from 'Squad' column
PL_14['Squad'] = PL_14['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_14.columns 
    if col != 'Squad'
}
PL_14.rename(columns=new_columns, inplace=True)

In [43]:
PL_Squad_Goal_Shot_Creation_Stats_df = pd.merge(
    PL_13,          # Left DataFrame
    PL_14,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [44]:
PL_Squad_Goal_Shot_Creation_Stats_df.head()

,Squad,90s,SCA90,GCA90,PassLive_per_90,PassDead_per_90,TO_per_90,Sh_per_90,Fld_per_90,Def_per_90,...,TO_per_90_against,Sh_per_90_against,Fld_per_90_against,Def_per_90_against,PassLive.1_per_90_against,PassDead.1_per_90_against,TO.1_per_90_against,Sh.1_per_90_against,Fld.1_per_90_against,Def.1_per_90_against
0,Arsenal,38.0,25.50,3.13,19.105263,2.157895,1.368421,1.684211,0.894737,0.289474,...,0.842105,1.052632,0.815789,0.421053,0.973684,0.210526,0.052632,0.131579,0.184211,0.052632
1,Aston Villa,38.0,22.34,2.68,15.842105,2.236842,1.342105,1.526316,1.026316,0.368421,...,1.000000,1.210526,0.763158,0.421053,1.736842,0.078947,0.131579,0.105263,0.131579,0.078947
2,Bournemouth,38.0,26.63,2.45,20.184211,1.789474,1.157895,1.842105,1.105263,0.552632,...,1.421053,1.210526,1.026316,0.368421,1.552632,0.131579,0.263158,0.105263,0.131579,0.026316
3,Brentford,38.0,20.53,2.97,14.973684,1.947368,1.052632,1.342105,0.921053,0.289474,...,1.500000,1.815789,0.789474,0.421053,2.236842,0.026316,0.078947,0.131579,0.026316,0.026316
4,Brighton,38.0,24.55,2.97,18.026316,1.842105,1.473684,1.394737,1.447368,0.368421,...,1.289474,1.157895,0.921053,0.263158,1.684211,0.157895,0.184211,0.236842,0.263158,0.026316

In [45]:
PL_15.columns

Index(['Squad', '# Pl', '90s', 'Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd',
       'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int',
       'Tkl+Int', 'Clr', 'Err'],
      dtype='object')

In [46]:
# Define columns to drop entirely
drop_cols = ['# Pl']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd',
       'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int',
       'Tkl+Int', 'Clr', 'Err']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_15[new_col_name] = PL_15[col] / PL_15['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_15.loc[PL_15['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_15.drop(columns=drop_cols + divide_cols, inplace=True)

In [47]:
# Define columns to drop entirely
drop_cols = ['# Pl']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Tkl', 'TklW', 'Def 3rd', 'Mid 3rd', 'Att 3rd',
       'Tkl.1', 'Att', 'Tkl%', 'Lost', 'Blocks', 'Sh', 'Pass', 'Int',
       'Tkl+Int', 'Clr', 'Err']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_16[new_col_name] = PL_16[col] / PL_16['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_16.loc[PL_16['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_16.drop(columns=drop_cols + divide_cols, inplace=True)
# Remove "vs " prefix from 'Squad' column
PL_16['Squad'] = PL_16['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_16.columns 
    if col != 'Squad'
}
PL_16.rename(columns=new_columns, inplace=True)

In [48]:
PL_Squad_Defensive_Actions_Stats_df=pd.merge(
    PL_15,          # Left DataFrame
    PL_16,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [49]:
PL_Squad_Defensive_Actions_Stats_df.head()

,Squad,90s,Tkl_per_90,TklW_per_90,Def 3rd_per_90,Mid 3rd_per_90,Att 3rd_per_90,Tkl.1_per_90,Att_per_90,Tkl%_per_90,...,Att_per_90_against,Tkl%_per_90_against,Lost_per_90_against,Blocks_per_90_against,Sh_per_90_against,Pass_per_90_against,Int_per_90_against,Tkl+Int_per_90_against,Clr_per_90_against,Err_per_90_against
0,Arsenal,38.0,15.736842,9.157895,5.789474,6.552632,3.394737,6.842105,13.552632,1.328947,...,16.736842,1.307895,8.421053,10.789474,4.736842,6.052632,6.868421,25.236842,27.315789,1.000000
1,Aston Villa,38.0,16.763158,9.789474,7.710526,6.552632,2.500000,8.157895,14.368421,1.494737,...,16.473684,1.257895,8.605263,11.026316,3.578947,7.447368,9.131579,27.157895,22.868421,0.789474
2,Bournemouth,38.0,18.184211,10.500000,7.631579,7.868421,2.684211,7.921053,16.500000,1.263158,...,15.631579,1.328947,7.736842,10.894737,4.210526,6.684211,7.342105,24.447368,26.684211,1.315789
3,Brentford,38.0,16.657895,10.000000,7.605263,5.868421,3.184211,8.263158,15.684211,1.386842,...,14.684211,1.381579,6.973684,9.631579,2.789474,6.842105,7.552632,23.157895,27.263158,0.842105
4,Brighton,38.0,18.552632,11.342105,7.552632,7.815789,3.184211,9.210526,18.500000,1.310526,...,18.947368,1.397368,8.894737,10.763158,3.868421,6.894737,8.421053,27.526316,25.815789,0.868421

In [50]:
PL_17.columns

Index(['Squad', '# Pl', 'Poss', '90s', 'Touches', 'Def Pen', 'Def 3rd',
       'Mid 3rd', 'Att 3rd', 'Att Pen', 'Live', 'Att', 'Succ', 'Succ%', 'Tkld',
       'Tkld%', 'Carries', 'TotDist', 'PrgDist', 'PrgC', '1/3', 'CPA', 'Mis',
       'Dis', 'Rec', 'PrgR'],
      dtype='object')

In [51]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Live', 'Poss', 'Touches', 'Def Pen', 'Def 3rd',
       'Carries', 'TotDist']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Mid 3rd', 'Att 3rd', 'Att Pen', 'Att', 'Succ', 'Tkld', 'Carries', 
               'TotDist', 'PrgDist', 'PrgC', '1/3', 'CPA', 'Mis','Dis', 'Rec', 'PrgR']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_17[new_col_name] = PL_17[col] / PL_17['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_17.loc[PL_17['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_17.drop(columns=drop_cols + divide_cols, inplace=True)

In [52]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'Live', 'Poss', 'Touches', 'Def Pen', 'Def 3rd',
       'Carries', 'TotDist']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Mid 3rd', 'Att 3rd', 'Att Pen', 'Att', 'Succ', 'Tkld', 'Carries', 
               'TotDist', 'PrgDist', 'PrgC', '1/3', 'CPA', 'Mis','Dis', 'Rec', 'PrgR']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_18[new_col_name] = PL_18[col] / PL_18['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_18.loc[PL_18['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_18.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_18['Squad'] = PL_18['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_18.columns 
    if col != 'Squad'
}
PL_18.rename(columns=new_columns, inplace=True)

In [53]:
PL_Squad_Possession_Stats_df=pd.merge(
    PL_17,          # Left DataFrame
    PL_18,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [54]:
PL_Squad_Possession_Stats_df.head()

,Squad,90s,Succ%,Tkld%,Mid 3rd_per_90,Att 3rd_per_90,Att Pen_per_90,Att_per_90,Succ_per_90,Tkld_per_90,...,Carries_per_90_against,TotDist_per_90_against,PrgDist_per_90_against,PrgC_per_90_against,1/3_per_90_against,CPA_per_90_against,Mis_per_90_against,Dis_per_90_against,Rec_per_90_against,PrgR_per_90_against
0,Arsenal,38.0,44.1,43.5,272.684211,205.473684,33.736842,19.105263,8.421053,8.315789,...,272.368421,1524.342105,798.868421,16.263158,10.868421,4.263158,11.868421,8.894737,317.815789,24.394737
1,Aston Villa,38.0,45.0,41.2,243.605263,141.105263,25.026316,19.105263,8.605263,7.868421,...,316.605263,1727.315789,904.894737,18.105263,12.157895,5.394737,12.921053,8.605263,375.736842,34.000000
2,Bournemouth,38.0,43.8,44.6,245.105263,161.263158,26.447368,17.684211,7.736842,7.894737,...,318.526316,1729.210526,852.210526,18.026316,11.894737,5.342105,17.447368,10.263158,366.078947,33.684211
3,Brentford,38.0,42.3,46.7,211.973684,139.736842,25.973684,16.500000,6.973684,7.710526,...,339.210526,1795.289474,962.842105,21.973684,15.236842,7.736842,13.342105,8.394737,391.815789,40.710526
4,Brighton,38.0,42.4,47.9,270.842105,161.921053,28.552632,20.973684,8.894737,10.052632,...,323.789474,1696.657895,827.868421,15.973684,9.342105,6.394737,13.236842,9.342105,371.105263,31.473684

In [55]:
PL_21.columns

Index(['Squad', '# Pl', '90s', 'CrdY', 'CrdR', '2CrdY', 'Fls', 'Fld', 'Off',
       'Crs', 'Int', 'TklW', 'PKwon', 'PKcon', 'OG', 'Recov', 'Won', 'Lost',
       'Won%'],
      dtype='object')

In [56]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'CrdY', 'CrdR', '2CrdY',
       'Crs', 'Int', 'Recov', 'Lost', 'OG', 'TklW', 'PKwon', 'PKcon']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Fls', 'Fld', 'Off','Crs', 'Int', 'OG', 'Recov', 'Won']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_21[new_col_name] = PL_21[col] / PL_21['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_21.loc[PL_21['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_21.drop(columns=drop_cols + divide_cols, inplace=True)

In [57]:
# Define columns to drop entirely
drop_cols = ['# Pl', 'CrdY', 'CrdR', '2CrdY',
       'Crs', 'Int', 'Recov', 'Lost', 'OG', 'TklW', 'PKwon', 'PKcon']

# Define columns to divide by 'MP' (and later drop)
divide_cols = ['Fls', 'Fld', 'Off','Crs', 'Int', 'OG', 'Recov', 'Won']

# Create new calculated columns (original_value / MP)
for col in divide_cols:
    new_col_name = f'{col}_per_90'  # Name for the new column
    PL_22[new_col_name] = PL_22[col] / PL_22['90s']  # Perform division
    
    # Handle division by zero (if MP=0, set result to 0)
    PL_22.loc[PL_22['90s'] == 0, new_col_name] = 0

# Drop both the initial drop_cols and the original divide_cols
PL_22.drop(columns=drop_cols + divide_cols, inplace=True)

# Remove "vs " prefix from 'Squad' column
PL_22['Squad'] = PL_22['Squad'].str.replace('^vs ', '', regex=True)

# Rename columns (except 'Squad') by appending "_against"
new_columns = {
    col: f"{col}_against" 
    for col in PL_22.columns 
    if col != 'Squad'
}
PL_22.rename(columns=new_columns, inplace=True)

In [58]:
PL_Squad_Miscellaneous_Stats_df=pd.merge(
    PL_21,          # Left DataFrame
    PL_22,          # Right DataFrame
    on='Squad',    # Merge key
    how='inner'    # Use 'inner' to keep only matching squads (change to 'left'/'right'/'outer' if needed)
)

In [59]:
PL_Squad_Miscellaneous_Stats_df.head()

,Squad,90s,Won%,Fls_per_90,Fld_per_90,Off_per_90,Crs_per_90,Int_per_90,OG_per_90,Recov_per_90,...,90s_against,Won%_against,Fls_per_90_against,Fld_per_90_against,Off_per_90_against,Crs_per_90_against,Int_per_90_against,OG_per_90_against,Recov_per_90_against,Won_per_90_against
0,Arsenal,38.0,50.3,10.552632,10.657895,2.105263,20.157895,5.921053,0.000000,37.789474,...,38.0,49.7,10.947368,10.263158,1.000000,14.052632,6.868421,0.052632,35.184211,12.236842
1,Aston Villa,38.0,47.2,10.684211,13.131579,1.447368,15.894737,6.315789,0.000000,37.315789,...,38.0,52.8,13.421053,10.368421,2.447368,17.973684,9.131579,0.052632,40.500000,11.131579
2,Bournemouth,38.0,48.6,13.815789,10.526316,1.842105,21.894737,9.236842,0.000000,47.921053,...,38.0,51.4,10.789474,13.421053,1.105263,15.815789,7.342105,0.026316,43.736842,15.947368
3,Brentford,38.0,52.4,8.421053,8.921053,1.657895,17.736842,7.500000,0.078947,43.263158,...,38.0,47.6,9.342105,8.315789,1.526316,20.868421,7.552632,0.026316,44.157895,14.921053
4,Brighton,38.0,52.8,11.526316,10.815789,1.210526,18.526316,8.289474,0.052632,42.736842,...,38.0,47.2,11.236842,11.078947,2.315789,14.289474,8.421053,0.052632,40.315789,12.184211

In [62]:
import pandas as pd
from functools import reduce

# List of all DataFrames to merge
dataframes = [
    PL_Squad_Standard_Stats_df,
    PL_Squad_Goalkeeping_Stats_df,
    PL_Squad_Advanced_Goalkeeping_Stats_df,
    PL_Squad_Shooting_Stats_df,
    PL_Squad_Passing_Stats_df,
    PL_Squad_Pass_Types_Stats_df,
    PL_Squad_Goal_Shot_Creation_Stats_df,
    PL_Squad_Defensive_Actions_Stats_df,
    PL_Squad_Possession_Stats_df,
    PL_Squad_Miscellaneous_Stats_df
]

# Step 1: Define columns to drop
columns_to_drop = ['MP', 'MP_against', '90s', '90s_against']

# Step 2: Process each DataFrame
processed_dfs = []
prefixes = [
    "Standard_", "Goalkeeping_", "AdvGoalkeeping_", "Shooting_", 
    "Passing_", "PassTypes_", "GoalShotCreation_", "Defense_", "Possession_", "Miscellaneous_"
]

for df, prefix in zip(dataframes, prefixes):
    # Drop specified columns if they exist
    df_clean = df.drop(columns=[col for col in columns_to_drop if col in df.columns], errors='ignore')
    
    # Add prefix to all columns except 'Squad'
    df_clean = df_clean.rename(columns={
        col: prefix + col if col != 'Squad' else col 
        for col in df_clean.columns
    })
    processed_dfs.append(df_clean)

# Step 3: Merge all DataFrames
merged_df = reduce(
    lambda left, right: pd.merge(left, right, on='Squad', how='outer'),
    processed_dfs
)

# Step 4: Save to CSV
merged_df.to_csv('Premier_League_merged_squad_stats.csv', index=False)